<% provide(:title, 'All teams') %>
<h1>Scoreboard</h1>
<div class='jumbotron row'>
	<div id='scoreboard_graph' class='col-sm-12' style='width:100%;height:400px'></div>
</div>
<%= will_paginate %>

<ul class="teams row">
	<%= render @sorted_teams %>
</ul>

<%= will_paginate %>

