<% provide(:title, "About") %>
<h1>About</h1>
<p>This is a scoring server built using Ruby on Rails by the Military Cyber Professionals Association (MCPA). It is free to use and extend under the MIT license (see LICENSE file). The goal of this project is to provide a standard generic scoring server that provides an easy way to add and modify problems and track statistics of a Cyber Capture the Flag event. While it's not recommended, this server can be hosted with your challenges but we do recommend sand-boxing your challenges so they do not affect the scoring server.</p>

<p>If you have questions please visit our Github page <a href="https://github.com/mcpa-stlouis/hack-the-arch">here</a>.</p>
