<% provide(:title, "About") %>
<h1>About</h1>
<p>
This competition is hosted by the San Antonio chapter of the Military Cyber
Professionals Association, a 501(c)3 non-profit organization dedicated to the
development of the American military cyber profession, and investment in our
Nation's youth through STEM outreach.  All proceeds benefit STEM education in
the San Antonio area.
</p>
