<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>This app was developed by the Military Cyber Professionals Association - St. Louis Chapter.  They can be reached at <a href="mailto:contact.stlouis@milcyber.org">contact.stlouis@milcyber.org</a></p>
