<% provide(:title, "Help") %>
<h1>Help</h1>
<p><b>After signing up:</b> <%= link_to "create", new_team_path %> or <%= link_to "join", teams_path %> a team.  If joining an existing team, just navigate to the team view and enter the passphrase and click join.  After joining a team, you can view and solve challenges!</p>
<p><b>What is a CTF?:</b> A CTF is an event during which students, teachers, and professionals come together to compete against one another in an effort to test and expand cyber-security skills and awareness. Participants will be challenged with cyber-security related puzzles from categories like network exploitation, cyber forensics, cryptography, and cyber trivia. Each challenge hides a unique string called a 'flag' and participants will receive points for each captured flag.</p>
<p><b>Questions:</b> If you have any further questions, please contact the competition admin.</p>
