<% provide(:title, "Help") %>
<h1>Help</h1>
<p>After signing up, you'll need to <%= link_to "create", new_team_path %> or <%= link_to "join", teams_path %> a team.  If joining an existing team, just navigate to the team view and enter the passphrase and click join.  After joining a team, you can view and solve challenges!</p>

<p>If you have any further questions, please contact the competition admin.</p>
