<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>

	<div class="row">
	<%= link_to image_tag("mcpa-black.png", width: '80%', alt: "MCPA San Antonio logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"), 'http://mcpa-stl.org' %>
	</div>
  <h2>
    Announcing Defend the Alamo 2017!  April 29th 2017, location: TBD.  Sign-up now!
  </h2>

	<% if registration_active? %>
		<% if !logged_in? %>
  			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  		<% end %>
	<% else %>
		<% if competition_started? %>
			<h3>Registration closed!</h3>
		<% else %>
			<h3>Registration hasn't opened yet, check back soon!</h3>
		<% end %>
	<% end %>
</div>

