<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>
  <h3>
   This event is open to local and online competitors. Check out last years event <a href="http://ctf.mcpa-stl.org/">HERE</a>
  </h3>

	<div class="row">
	<%= link_to image_tag("mcpa-black.png", width: '80%', alt: "MCPA St. Louis logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"), 'http://mcpa-stl.org' %>
	</div>
 
  <br>

	<h3>Registration Fee: Individuals ($5) Team of up to 5 ($20)
  	<br>
  	Where: Southern Illinois University Edwardsville	
       <br>
       When: May 7th 2016 8:00 AM CST - 4:00 PM CST
       <br>
       <br>
	
	<% if registration_active? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  	<br>
       <br>
       
       Available prizes: cash, premium CTF365 accounts, Steam codes, Bawls enerygy drink swag, and more
       <br>
       <br>
       More information about the competition can be found on our <a href="http://ctf.mcpa-stl.org/">information page.<a>
       </h3>
	<% else %>
		<% if competition_started? %>
			<h3>Registration closed!</h3>
		<% else %>
			<h3>Registration will be open March 9th 2016!
			<br>
			<br>
			Registration Fee: Individuals ($5) Team of up to 5 ($20)
			<br>
			Location: T-REX 911 Washington Ave, St. Louis, MO 63101
			</h3>
		<% end %>
	<% end %>
</div>

