<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>

	<div class="row">
	<%= link_to image_tag("mcpa-black.png", width: '80%', alt: "MCPA St. Louis logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"), 'http://mcpa-stl.org' %>
	</div>
  <h2>
    This is the home page for the 
    <a href="https://github.com/mcpa-stlouis/hack-the-arch">HackTheArch</a>
    scoring server application developed by the Military Cyber Professionals Association - St. Louis Chapter.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

