<% ########################################################### %>
<% # IMPORTANT:  Be extremely careful displaying these since # %>
<% #             they are essentially raw user input and     # %>
<% #             could be designed to break web services or  # %>
<% #             steal user cookies.                         # %>
<% ########################################################### %>


<li class="list-group-item" style="border:0" data-toggle="tooltip" data-placement="left" 
  title="<%= distance_of_time_in_words message.created_at, Time.now %> ago">
  <b><%= (message.user.admin?) ? "admin" : message.user.username %></b>: <%= h message.message %>
</li>
