tmux*.log
.*.swp
.git
.dockerignore
.gitignore
.env
.ruby-version
.travis.yml
start_docker.sh

DOCKER_README.md
Dockerfile
LICENSE
Procfile
README.md
ReleaseNotes.md
dev-stack.yml
prod-stack.yml

./scripts/
./log/
./tmp/
./test/
