<h1>HackTheArch</h1>

<p>Hello <%= @user.fname %>!</p>

<p>
Your account has been authorized by an administrator!  Happy Hacking!
</p>

<%= link_to "HackTheArch", root_url %>

<p>
Best of luck!<br />
-The HackTheArch Team
</p>

<p>
- Note: Please do not reply to this e-mail.  If you have questions, please e-mail: contact.stlouis@milcyber.org
</p>
