<% provide(:title, 'Problems') %>
<h1>Problems</h1>
<%= will_paginate %>

<ul class="problems">
  <%= render @problems %>
</ul>

<%= will_paginate %>
<% if admin_user? %>
	<%= link_to "Create", new_problem_path, class: 'btn btn-primary' %>
<% end %>
