<% provide(:title, 'Problems') %>
<h1>Problems</h1>
<% if admin_user? %>
	<%= link_to "Create", new_problem_path %>
<% end %>
<%= will_paginate %>

<ul class="problems">
  <%= render @problems %>
</ul>

<%= will_paginate %>
