<% provide(:title, @user.fname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.fname %>
      </h1>
    </section>
  </aside>
</div>
