<% provide(:title, 'Console') %>
<h1>Console</h1>

<div class="col-md-10 col-md-offset-1">
  <iframe src="<%= $host %>" height=400px width=100% >
    <p>Your browser does not support iframes.</p>
  </iframe>
  <p class="text-warning text-center">WARNING: Use at your own risk.  This is a shared VM with attack tools installed.</p>
</div>
<div class="clearfix"></div>
